<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="utf-8">
  <title>角色编辑页面</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/layuiadmin/style/dtree.css" media="all">
  <link rel="stylesheet" href="/layuiadmin/style/font/dtreefont.css" media="all">
</head>
<body>
  <div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item" hidden>
      <label class="layui-form-label">id</label>
      <div class="layui-input-inline">
        <input name="id" th:value="${barberRole.id}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">角色编码</label>
      <div class="layui-input-inline">
        <input type="text" name="code" th:value="${barberRole.code}" lay-verify="required" placeholder="请输入角色编码" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">角色名称</label>
      <div class="layui-input-inline">
        <input type="text" name="name" th:value="${barberRole.name}" lay-verify="required" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">授权菜单</label>
      <div class="layui-input-block">
        <ul id="selTree1" class="dtree" data-id="0"></ul>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">描述</label>
      <div class="layui-input-block">
        <textarea type="text" name="desc" autocomplete="off" class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item layui-hide">
      <button class="layui-btn" lay-submit lay-filter="LAY-user-role-submit" id="LAY-user-role-submit">提交</button>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script th:inline="javascript">
    var menus = [[${menus}]];
  </script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'dtree'], function(){
    var $ = layui.$, dtree = layui.dtree;;

    dtree.renderSelect({
      elem: "#selTree1",
      url: "/menu/checkTree",
      checkbar: true, // 设置复选框
      checkbarType: "all",
      selectInitVal: "", // 设置默认值
      done: function(){
        dtree.chooseDataInit("selTree1", menus);
        dtree.selectVal("selTree1"); // 也可以在这里指定，第二个参数如果不填，则会自动读取
      }
    });
    dtree.on('chooseDone("selTree1")', function(obj){
      var param = dtree.selectVal("selTree1");
    });
    $("#selTree1_btn").click(function(){
      SelTree6.selectResetVal();
    });
  })
  </script>
</body>
</html>