<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nicecoder.newssys.mapper.biz.NewsCommentMapper">
    <select id="listPageComment" resultType="cn.nicecoder.newssys.domain.response.biz.NewsCommentVO">
        SELECT a.id AS id, a.comm_from AS fromId, a.comm_to AS toId, a.content AS content,
            a.create_time AS createTime, b.name AS name, c.src AS avatar, d.agreeNum AS agreeNum
        FROM news_comment a
        INNER JOIN news_user b ON a.comm_from = b.id
            AND a.status = 1
            AND b.status = 1
        INNER JOIN news_user_avatar c ON b.avatar = c.id
        LEFT JOIN (SELECT like_to AS id, COUNT(0) agreeNum FROM news_like GROUP BY like_to) d ON a.id = d.id
        WHERE 1=1
        <if test="ncd.type != null and ncd.type != ''">
            AND a.type = #{ncd.type}
        </if>
        <if test="ncd.commTo != null and ncd.commTo != ''">
            AND a.comm_to = #{ncd.commTo}
        </if>
    </select>
</mapper>
