<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nicecoder.newssys.mapper.base.SysUserMapper">
    <select id="getOneByUsername" resultType="cn.nicecoder.newssys.domain.response.base.SysUserVO">
        select a.id,a.avatar,a.name,a.phone,a.id_card,a.email,a.sex,a.username,a.password,a.description
        from sys_user a where a.username = #{username}
    </select>

    <select id="listPageBarberUser" resultType="cn.nicecoder.newssys.domain.response.base.SysUserVO">
        select a.id,a.avatar,a.name,a.phone,a.id_card,a.email,a.sex,a.status,a.username,a.password,a.description
        from sys_user a
        <if test="barberUserDO.name != null and barberUserDO.name != ''">
            and a.name like CONCAT('%',#{barberUserDO.name},'%')
        </if>
        <if test="barberUserDO.phone != null and barberUserDO.phone != ''">
            and a.phone = #{barberUserDO.phone}
        </if>
        <if test="barberUserDO.idCard != null and barberUserDO.idCard != ''">
            and a.id_card like CONCAT('%',#{barberUserDO.idCard})
        </if>
    </select>
</mapper>
